[user]
	signingkey = 0xD08C8EC285329A3C
	name = David Johnston
	email = dwtj@dwtj.me
	
	#signingkey = 0xFDCF4254DB43372D
	#name = David Johnston
	#email = releases@dwtj.me
	
	#signingkey = 0xD377BD3B8A010884
	#name = @PaniniJ Releases
	#email = releases@paninij.org

[push]
	default = simple
[core]
	excludesfile = /Users/dwtj/.gitignore_global
	editor = nvim
[commit]
	gpgSign = true
[alias]
	workprofile = config user.email \"dwtj@iastate.edu\"
	homeprofile = config user.email \"dwtj@dwtj.me\"
	stat = status --short
	hist = "log --all --decorate --oneline --graph"

[diff]
	tool = vscode
[merge]
	tool = opendiff

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[gpg]
	program = gpg2
